.itemdetailcontainer{
    padding: 50px;
    display: flex;

}

.itemdetailcontainer img{
    padding: 50px;
    margin-left: 100px;

}

.itemdetailcontainer h2{
    text-align: center;

}

.itemdetailcontainer p{
    padding: 50px;
    margin-right: 100px;
   
}

.itemdetailcontainer p:nth-child(3){
    font-weight: bold;
   
}

.fondo{
    background-color: blue;
}

